@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  min-height: 90vh;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("./images/mist-1.jpg"); */
  background: #005aa7; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to right,
    #fffde4,
    #3d77aa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #faf8d7,
    #3d77aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* @media (max-width: 700px) {
  body {
    display: block;
    height: 100vh;
  }
} */
